<!-- =======================
Content START -->
<section class="pt-3">
	<div class="container">
		<div class="row">

			<!-- Sidebar START -->
			<%= render 'profiles/sidebar' %>
			<!-- Sidebar END -->

			<!-- Main content START -->
			<div class="col-lg-8 col-xl-9">
        <!-- Cab item START -->
        <div class="card border p-4">
          <% if @cars.present? %>
            <% @cars.each do |car| %>
              <!-- Card body START -->
              <div class="card-body p-0">
                <div class="row g-2 g-sm-4 mb-4">
                  <!-- Card image -->
                  <div class="col-md-4 col-xl-3">
                    <div class="rounded-3">
                      <%= image_tag(car.images.first, class: "avatar-img rounded-3") %>
                    </div>
                  </div>
                  <!-- Card title and rating -->
                  <div class="col-sm-6 col-md-4 col-xl-6">
                    <h4 class="card-title mb-2"><%= car.brand.name %>  <%= car.model.name %></h4>
                    <!-- Nav divider -->
                    <ul class="nav nav-divider h6 fw-normal mb-2">
                      <li class="nav-item"><%= car.case_type%></li>
                      <li class="nav-item"><%= car.seat_count  %> seats</li>
                      <li class="nav-item"><%= car.price %> €</li>
                    </ul> 
                  </div>
                  <!-- Button -->
                  <div class="col-sm-6 col-md-4 col-xl-3 text-sm-end">
                    <%= button_to "Delete", car_path(car.id), class: "btn btn-danger mb-0", method: :delete %><br>
                    <%= link_to "Edit", edit_car_path(car.id), class: "btn btn-secondary mb-0" %>
                  </div>
                </div> <!-- Row END -->
              </div>
              <!-- Card body END -->
            <% end %>
          <% else %>
            <div class="text-center" style="padding: 10%;">
              <%= link_to "Add new car", new_car_path, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>