<!-- =======================
Content START -->
<section class="pt-3">
	<div class="container">
		<div class="row">

			<!-- Sidebar START -->
			<%= render 'profiles/sidebar' %>
			<!-- Sidebar END -->

			<!-- Main content START -->
			<div class="col-lg-8 col-xl-9">

				<!-- Offcanvas menu button -->
				<div class="d-grid mb-0 d-lg-none w-100">
					<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="fas fa-sliders-h"></i> Menu
					</button>
				</div>


					<!-- Personal info START -->
					<div class="card border">
						<!-- Card header -->
						<div class="card-header border-bottom">
							<h4 class="card-header-title">Personal Information</h4>
						</div>

						<!-- Card body START -->
						<div class="card-body">
							<!-- Form START -->
								<!-- Profile photo -->
								
								<%= form_for(current_user, url: profile_path(current_user.id), method: :patch,  class: "row g-3") do |f| %>
								<!-- Name -->
								<div class="col-md-12">
									<label class="form-label">Name<span class="text-danger">*</span></label>
									<%= f.text_field :name, placeholder:"Enter your name",class: "form-control", required: true %>
								</div>

								<div class="col-md-12">
									<label class="form-label">Surname<span class="text-danger">*</span></label>
									<%= f.text_field :surname, placeholder:"Enter your surname",class: "form-control", required: true %>
								</div>

								<!-- Mobile -->
								<div class="col-md-12">
									<label class="form-label">Mobile number<span class="text-danger">*</span></label>
									<%= f.text_field :mobile_number, placeholder:"Enter your mobile number",class: "form-control", required: true %>
								</div>
								
								<!-- Date of birth -->
								<div class="col-md-12">
									<label class="form-label">Date of Birth<span class="text-danger">*</span></label>
									<%= f.date_field :date_of_birth, placeholder:"Enter date of birth", class: "form-control", required: true %>
								</div>


								<!-- Address -->
								<div class="col-12">
									<label class="form-label">Address<span class="text-danger">*</span></label>
									<%= f.text_field :adress, placeholder:"Enter your adress", class: "form-control", required: true  %>
								</div>

								<div class="col-12">
									<label class="form-label">Upload your profile photo</label>
									<div class="d-flex align-items-center">
									<label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
										<!-- Avatar place holder -->
									
										<span class="avatar avatar-xl">
										<% if current_user.avatar.attached? %>
											<%= image_tag(current_user.avatar, class: "avatar-img rounded-3") %>
										<% else%>
											<img class="avatar-img rounded-2" src="/assets/images/avatar/default.jpg" alt="avatar">
										<% end %>
										</span>
									</label>

									<!-- Upload button -->
									<label class="btn btn-sm btn-primary-soft mb-0" for="uploadfile-1">Change</label>
									<%= f.file_field :avatar, class: "form-control d-none", id:"uploadfile-1"  %>
									</div>
								</div>

								<div class="col-12">
									<label class="form-label">Upload your identity card photo<span class="text-danger">*</span></label>
									<div class="d-flex align-items-center">
									<label class="position-relative me-4" for="uploadfile-2" title="Replace this pic">
										<span class="avatar avatar-xl">
										<% if current_user.identity_card.attached? %>
											<%= image_tag(current_user.identity_card, class: "avatar-img rounded-3") %>
										<% else %>	
										<img class="avatar-img rounded-2" src="/assets/images/avatar/card.png" alt="avatar">
										<% end %>
										</span>
									</label>
									<!-- Upload button -->
									<label class="btn btn-sm btn-primary-soft mb-0" for="uploadfile-2">Change</label>
									<%= f.file_field :identity_card, class: "form-control d-none", id:"uploadfile-2", required: true  %>
								
								</div>
						

							<div class="col-12">
								<label class="form-label">Upload your passport photo<span class="text-danger">*</span></label>
								<div class="d-flex align-items-center">
								<label class="position-relative me-4" for="uploadfile-3" title="Replace this pic">
									<span class="avatar avatar-xl">
									<% if current_user.passport.attached? %>
										<%= image_tag(current_user.passport, class: "avatar-img rounded-3") %>
									<% else %>	
										<img class="avatar-img rounded-2" src="/assets/images/avatar/card.png" alt="avatar">	
									<% end %>
									</span>
								</label>
								<!-- Upload button -->
								<label class="btn btn-sm btn-primary-soft mb-0" for="uploadfile-3">Change</label>
								<%= f.file_field :passport, class: "form-control d-none", id:"uploadfile-3"  %>
								</div>
							</div>

							<div class="col-12">
								<label class="form-label">Upload your driver license photo<span class="text-danger">*</span></label>
								<div class="d-flex align-items-center">
								<label class="position-relative me-4" for="uploadfile-4" title="Replace this pic">
									<span class="avatar avatar-xl">
									<% if current_user.driver_license.attached? %>
										<%= image_tag(current_user.driver_license, class: "avatar-img rounded-3") %>
									<% else %>	
										<img class="avatar-img rounded-2" src="/assets/images/avatar/card.png" alt="avatar">
									<% end %>
									</span>
								</label>
								<!-- Upload button -->
								<label class="btn btn-sm btn-primary-soft mb-0" for="uploadfile-4">Change</label>
								<%= f.file_field :driver_license, class: "form-control d-none", id:"uploadfile-4", required: true  %>
								
							</div>
						</div><br>

						<% if current_user.approved? %>
						 Your account is active
						<% else %>
							Your account is not active yet
						<% end %>

									
							
					</div>
								<!-- Button -->
							<div class="col-12 text-end">
								<%= f.submit 'Save Changes', class: 'btn btn-primary mb-0' %>
							</div>
							  <% end %>
							<!-- Form END -->
							</div>
						<!-- Card body END -->
					</div>
				
					<!-- Personal info END -->

					<!-- Update Password START -->
					
			
					<div class="card border mt-2">
						<!-- Card header -->
						<div class="card-header border-bottom">
							<h4 class="card-header-title">Update Password</h4>
							<p class="mb-0">Your current email address is <span class="text-primary"><%= current_user.email %></span></p>
						</div>
						
						<!-- Card body START -->
						<%= form_for(current_user, url: profile_path(current_user), method: :patch ) do |f| %>
							<form class="card-body">
							
								<!-- Current password -->
								<div class="mb-3 p-2">
									<label class="form-label">Current password</label>
									<%= f.password_field :current_password, placeholder:"Enter your current password", class: "form-control"  %>
								</div>
								<!-- New password -->
								<div class="mb-3 p-2">
									<label class="form-label"> Enter new password</label>
									<div class="input-group">
									<%= f.password_field :password, placeholder:"Enter your new password", class: "form-control"  %>
										<span class="input-group-text p-0 bg-transparent">
											<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
										</span>
									</div>
								</div>
								<!-- Confirm -->
								<div class="mb-3 p-2">
									<label class="form-label">Confirm new password</label>
									<%= f.password_field :password_confirmation, placeholder:"Confirm new password", class: "form-control" %>
								</div>
								<div class="text-end p-2">	
									<%= f.submit 'Change Password', class: 'btn btn-primary mb-0' %>
								</div>
							</form>
						<% end %>
						<!-- Card body END -->
			    </div>




			

					<!-- Update Password END -->

					
			<!-- Main content END -->

		</div>
	</div>
</section>

