
<!-- Vector Image -->
<div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
	<div class="p-3 p-lg-5">
		<img src="/assets/images/element/signin.svg" alt="">
	</div>
	<!-- Divider -->
	<div class="vr opacity-1 d-none d-lg-block"></div>
</div>

<!-- Information -->
<div class="col-lg-6 order-1">
	<div class="p-4 p-sm-6">
		<!-- Logo -->
		<%= link_to root_path, class: "nav-link active" do %>
			<%= image_tag asset_url('oijoo.png'), class: "mb-4 h-50px", alt: "logo" %>
		<% end %>
		<!-- Title -->
		<h1 class="mb-2 h3">Create new account</h1>
		<p class="mb-0">Already a member? <%= link_to "Log in", new_session_path(resource_name) %><br /></p>

		<!-- Form START -->
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= render "devise/shared/error_messages", resource: resource %>
		<form class="mt-4 text-start">
			<!-- Email -->
			<div class="mb-3">
				<label class="form-label"><%=  f.label :email %><br /></label>
				<%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
				
			</div>
			<!-- Password -->
			<div class="mb-3 position-relative">
				<label class="form-label">Enter password</label>
				<%= f.password_field :password, autocomplete: "new-password", class: "form-control fakepassword", id: "psw-input"%>
				<span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
					<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
				</span>
			</div>
			<!-- Confirm Password -->
			<div class="mb-3">
				<label class="form-label">Confirm Password</label>
				<%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control"%>
			</div>
			<!-- Remember me -->
			<div class="mb-3">
				<input type="checkbox" class="form-check-input" id="rememberCheck">
				<label class="form-check-label" for="rememberCheck">Keep me signed in</label>
			</div>
			<!-- Button -->
			<div>
				<%= f.submit "Sign up", class:"btn btn-primary w-100 mb-0" %>
			</div>
			


	
			<!-- Copyright -->
			<div class="text-primary-hover mt-3 text-center"> Copyrights ©2023 Oi-jo. </div>
		</form>
	    <% end %>
		<!-- Form END -->
	</div>		
</div>