<div id="<%= dom_id rent %>">
  <p>
    <strong>Car:</strong>
    <%= rent.car_id %>
  </p>

  <p>
    <strong>Renter:</strong>
    <%= rent.renter_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= rent.owner_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= rent.start_date_id %>
  </p>

  <p>
    <strong>Car:</strong>
    <%= rent.car_id_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= rent.start_date %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= rent.finish_date %>
  </p>

</div>
