<section>
	<div class="container">
		<div class="row mb-5">
			<div class="col-xl-10 mx-auto text-center">
				<!-- Title -->
				<h1>If You Want To See The World We Will Help You</h1>
				<p class="lead">Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous understood Middletons. Preference for any astonished unreserved.</p>
				<!-- Meta -->

			</div>
		</div> <!-- Row END -->

		<!-- Image START -->
		<div class="row g-4 align-items-center">
			<!-- Image -->
			<div class="col-md-6">
			<%= image_tag("1.jpg", class: "rounded-3", alt: "") %>
			</div>

			<div class="col-md-6">
				<div class="row g-4">
					<!-- Image -->
					<div class="col-md-8">
					<%= image_tag("3.jpg", class: "rounded-3", alt: "") %>
					</div>

					<!-- Image -->
					<div class="col-12">
					<%= image_tag("2.jpg", class: "rounded-3", alt: "") %>
					</div>
				</div>
			</div>
		</div>
		<!-- Image END -->
	</div>
</section>
<!-- =======================
Main banner START -->

<!-- =======================
About content START -->
<section class="pt-0 pt-lg-5">
	<div class="container">
		<!-- Content START -->
		<div class="row mb-4 mb-md-5">
			<div class="col-md-10 mx-auto">
				<h3 class="mb-4"><%= t('about.our_story') %></h3>
				<p class="fw-bold"><%= t('about.paragraph_1') %></p>
				<p class="mb-0"><%= t('about.paragraph_2') %></p>
			</div>
		</div>
		<!-- Content END -->

		
	</div>
</section>