<section class="pt-4 pt-lg-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<!-- Breadcrumb -->

				<!-- Title -->
				
				<h1><%= t('faq.frequently_asked_questions') %></h1>
				<!-- Info -->
				<p><%= t('faq.have_questions') %></p>
				<!-- Search -->
				<form class="col-lg-8 position-relative mx-auto">
					<input class="form-control form-control-lg pe-5" type="search" placeholder="<%= t('faq.type') %>" aria-label="Search">
					<button class="text-primary-hover text-reset border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y pe-3 py-0" type="submit"><i class="fas fa-search fs-6"></i></button>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main banner END -->

<!-- =======================
Faqs START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 mx-auto">
				<div class="vstack gap-4">
					<!-- Card item START -->
					<div class="card border bg-transparent p-0">
						<!-- Card header -->
			
					<!-- Card item START -->
					<div class="card bg-transparent border p-0">
						<!-- Card header -->
						<div class="card-header bg-transparent border-bottom p-4">
							<h5 class="mb-0"><%= t('faq.general') %></h5>
						</div>

						<!-- Card body -->
						<div class="card-body p-4 pt-0">
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.what_is_oi_jo') %></h6>
								<p class="mb-0"> <%= t('faq.what_is_oi_jo_content') %></p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.how_it_works') %></h6>
								<p class="mb-0">
									<ul>
									<%= t('faq.owner') %>
										<li><%= t('faq.owner_content_1') %></li>
										<li><%= t('faq.owner_content_2') %></li>
										<li><%= t('faq.owner_content_3') %></li>
										<li><%= t('faq.owner_content_4') %></li><br>
									<%= t('faq.renter') %>
										<li><%= t('faq.renter_content_1') %></li>
										<li><%= t('faq.renter_content_2') %></li>
										<li><%= t('faq.renter_content_3') %></li>
										<li><%= t('faq.renter_content_4') %></li>
										<li><%= t('faq.renter_content_5') %></li>		
										<li><%= t('faq.renter_content_6') %></li>									
									</ul>
								</p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_3') %></h6>
								<p class="mb-0"><%= t('faq.question_3_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_4') %></h6>
								<p class="mb-0"><%= t('faq.question_4_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_5') %></h6>
								<p class="mb-0"><%= t('faq.question_5_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_6') %></h6>
								<p class="mb-0">
									<ul>
										<li><%= t('faq.question_6_content_1') %></li>
										<li><%= t('faq.question_6_content_2') %></li>
										<li><%= t('faq.question_6_content_3') %></li>
										<li><%= t('faq.question_6_content_4') %></li>
										<li><%= t('faq.question_6_content_5') %></li>
										<li><%= t('faq.question_6_content_6') %></li>
									</ul>
								</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_7') %></h6>
								<p class="mb-0">
									<ul>
										<li><%= t('faq.question_7_content_1') %></li>
										<li><%= t('faq.question_7_content_2') %></li>
									</ul>
							</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_8') %></h6>
								<p class="mb-0"><%= t('faq.question_8_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_9') %></h6>
								<p class="mb-0"><%= t('faq.question_9_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_10') %></h6>
									<p class="mb-0"><%= t('faq.question_10_content') %></p>
							</div>
							
							
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_11') %></h6>
									<p class="mb-0"><%= t('faq.question_11_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_12') %></h6>
									<p class="mb-0"><%= t('faq.question_12_content') %></p>
							</div>
					</div>
				</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="card bg-transparent border p-0">
						<!-- Card header -->
						<div class="card-header bg-transparent border-bottom p-4">
							<h5 class="mb-0"><%= t('faq.renters') %></h5>
						</div>

						<!-- Card body -->
						<div class="card-body p-4 pt-0">
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_13') %></h6>
								<p class="mb-0"><%= t('faq.question_13_content') %></p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_14') %></h6>
								<p class="mb-0"><%= t('faq.question_14_content') %></p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_15') %></h6>
								<p class="mb-0"><%= t('faq.question_15') %></p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> <%= t('faq.question_16') %></h6>
								<p class="mb-0"><%= t('faq.question_16_content') %></p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_17') %></h6>
								<p class="mb-0"><%= t('faq.question_17_content') %></p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_18') %></h6>
								<p class="mb-0"><%= t('faq.question_18_content') %> </p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_19') %> </h6>
								<p class="mb-0"><%= t('faq.question_19_content') %></p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_20') %></h6>
								<p class="mb-0"><%= t('faq.question_20_content') %></p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> <%= t('faq.question_21') %></h6>
								<p class="mb-0"><%= t('faq.question_21_content') %></p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_22') %> </h6>
								<p class="mb-0"><%= t('faq.question_22_content') %></p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_23') %> </h6>
								<p class="mb-0"><%= t('faq.question_23_content') %> </p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_24') %> </h6>
								<p class="mb-0"><%= t('faq.question_24_content') %></p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_25') %></h6>
								<p class="mb-0"><%= t('faq.question_25_content') %></p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_26') %></h6>
								<p class="mb-0"><%= t('faq.question_26_content') %></p>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="card bg-transparent border p-0">
						<!-- Card header -->
						<div class="card-header bg-transparent border-bottom p-4">
							<h5 class="mb-0"><%= t('faq.owners') %></h5>
						</div>

						<!-- Card body -->
						<div class="card-body p-4 pt-0">
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_27') %></h6>
								<p class="mb-0"><%= t('faq.question_27_content') %></p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_28') %></h6>
								<p class="mb-0"><%= t('faq.question_28_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"><%= t('faq.question_29') %></h6>
								<p class="mb-0"><%= t('faq.question_29_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"> <%= t('faq.question_30') %></h6>
								<p class="mb-0"><%= t('faq.question_30_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"> <%= t('faq.question_31') %></h6>
								<p class="mb-0"> <%= t('faq.question_31_content') %></p>
							</div>
							<div class="mt-4">
								<h6 class="fw-normal"> <%= t('faq.question_32') %> </h6>
								<p class="mb-0"><%= t('faq.question_32_content') %> </p>
							</div>
							
							<div class="mt-4">
								<h6 class="fw-normal">  <%= t('faq.question_33') %>  </h6>
								<p class="mb-0"> <%= t('faq.question_33_content') %> </p>
							</div>
							
							<div class="mt-4">
								<h6 class="fw-normal"> <%= t('faq.question_34') %> </h6>
								<p class="mb-0"><%= t('faq.question_34_content') %></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"> <%= t('faq.question_35') %> </h6>
								<p class="mb-0"><%= t('faq.question_35_content') %></p>
							</div>
		

					
						</div>
					</div>
					<!-- Card item END -->
				</div>		
			</div>
		</div>
	</div>
</section>