<section class="pt-4 pt-lg-5">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12 text-center">
				<h1 class="fs-2 mb-0"><%= t('privacy.privacy_policy') %></h1>
				<!-- Image -->
				<%= image_tag("4.jpg", class: "h-lg-400px rounded-3 mt-4", alt: "") %>
			</div>
		</div>

		<!-- Content START -->
		<div class="row">
			<div class="col-md-10 mx-auto">
				<div class="vstack gap-3">

					<!-- Card item START -->
					<div class="card p-0 bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0">
							<h4 class="card-title mb-0"><%= t('privacy.background') %></h4>
						</div>

						<!-- Card body -->
						<div class="card-body px-0">
							<p><%= t('privacy.background_content') %></p>

						</div>
					</div>
					<!-- Card item END -->


					<!-- Card item START -->
					<div class="card bg-transparent p-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0">
							<h4 class="card-title mb-0"><%= t('privacy.definitions') %></h4>
						</div>

						<!-- Card body -->
						<div class="card-body px-0">
							<p><%= t('privacy.in_this_policy') %></p>
							<ul class="mb-0">
								<li><%= t('privacy.definitions_content_1') %></li>
								<li><%= t('privacy.definitions_content_2') %></li>
								<li><%= t('privacy.definitions_content_3') %></li>
								<li><%= t('privacy.definitions_content_4') %></li>
								<li><%= t('privacy.definitions_content_5') %></li>
								<li><%= t('privacy.definitions_content_6') %></li>
								<li><%= t('privacy.definitions_content_7') %></li>
								<li><%= t('privacy.definitions_content_8') %></li>
								<li><%= t('privacy.definitions_content_9') %></li>
							</ul>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="card bg-transparent p-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0">
							<h4 class="card-title mb-0"><%= t('privacy.definitions_2') %></h4>
						</div>

						<!-- Card body -->
						<div class="card-body px-0">
							<p><%= t('privacy.definitions_2_desc') %></p>
							<ul class="mb-0">
								<li><%= t('privacy.definitions_2_content_1') %></li>
								<li><%= t('privacy.definitions_2_content_2') %></li>
								<li><%= t('privacy.definitions_2_content_3') %></li>
							</ul>
						</div>

						<div class="card-body px-0">
							<p><%= t('privacy.definitions_2_desc') %></p>
							<ul class="mb-0">
								<li><%= t('privacy.definitions_2_content_1') %></li>
								<li><%= t('privacy.definitions_2_content_2') %></li>
								<li><%= t('privacy.definitions_2_content_3') %></li>
							</ul>
						</div>

						
					</div>
					<!-- Card item END -->

				</div>
			</div>
		</div>
		<!-- Content END -->

	</div>
</section>