
<!-- =======================
Main Content START -->
<section class="pt-0">
	<div class="container" data-sticky-container>
		<div class="row g-4 justify-content-center">

			<!-- Main content START -->
			<div class="col-xl-8">
				<div class="vstack gap-5">

					<!-- Main cab list START -->
          
					<div class="card border p-4">
						<!-- Card body START -->
						<div class="card-body p-0">
							<div class="row g-4 align-items-center">
								<!-- Image -->
								<div class="col-md-4">
									<div class=" rounded-3 px-2 py-3 ">
                    					<%= image_tag car.images.first%>
									</div>
								</div>

								<!-- card body -->
								<div class="col-md-8">
									<!-- Title and rating -->
									<div class="d-sm-flex justify-content-sm-between">
										<!-- Card title -->
										<div>
											<h4 class="card-title mb-2"><%= @car.brand.name%>, <%= @car.model.name%>,  <%= @car.model_year %></h4>
											<ul class="nav nav-divider h6 fw-normal mb-2">
												<li class="nav-item"><%= @car.case_type %></li>
												<li class="nav-item"><%= @car.seat_count%> Seats</li>
											</ul>
										</div>
									</div>

									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item d-flex pb-0 mb-0">
											<span class="h6 fw-normal mb-0"><i class="bi bi-check-circle me-2"></i><%= car.distance %> Km</span>
										</li>
									</ul>
								</div>
							</div>
						</div>	
						<!-- Card body END -->
					</div>
					<!-- Main cab list END -->
					<!-- Driver and cab detail START -->
					<div class="card bg-transparent">

						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h4 class="mb-0">Driver and Cab details</h4>
						</div>

						<!-- Card body -->
						<div class="card-body pt-4 p-0">
							<!-- List -->
							<ul>
								<li class="mb-2"><%= car.details %></li>
							</ul>

							<!-- Cab images -->
							<h5>Cab Images</h5>

							<!-- Alert box -->
							<div class="alert alert-warning" role="alert">
								All pictures shown are for illustration purposes only. The actual product may vary due to product enhancement.
							</div>

							<!-- Images -->
							<div class="row">
								<!-- Slider START -->
								<div class="tiny-slider arrow-round arrow-xs arrow-dark">
									<div class="tiny-slider-inner rounded-2" data-autoplay="false" data-arrow="true" data-dots="false" data-items="3" data-items-sm="2">
										<!-- Image item -->
										<% @car.images.each do |image| %>
											<div>
											  <%= link_to(image, class: 'w-100 h-100', data: { glightbox: '', gallery: 'gallery' }) do %>
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
												  <!-- Image -->
												  <%= image_tag(image, class: 'rounded-3 standart-resim') %>
												  <!-- Full screen button -->
												  <div class="hover-element w-100 h-100">
													<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
												  </div>
												</div>
											  <% end %>
											</div>
										  <% end %>
									</div>
								</div>
								<!-- Slider END -->
							</div>
						</div>	

					</div>
					<!-- Driver and cab detail END -->
					
					<!-- Inclusion & Exclusion START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h4 class="mb-0">Rules</h4>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<!-- Detail START -->
							<div class="row g-3">
								<!-- List -->
								<div class="col-sm-12">
								  <% @car.rules.each do |rule| %>
										<ul class="list-group list-group-borderless mb-0">
											<li class="list-group-item mb-0 pb-0"><i class="fa-solid fa-check text-success me-1"></i>
											<%= rule.name %>
											</li>
										</ul>
									<% end %>

								</div>
							</div>
							<!-- Detail END -->
						</div>
						<!-- Card body END -->
					</div>
					<!-- Inclusion & Exclusion END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Sidebar START -->

			<% if policy(@rent).new? %>
				<aside class="col-xl-4">
					<div data-sticky data-margin-top="80" data-sticky-for="1199">

						<div class="card card-body bg-light p-4">
							<!-- Title -->
							<h6 class="text-danger fw-normal">Hurry! Limited cars left</h6>

							<!-- List -->
							<ul class="list-group list-group-borderless mb-0">
								<li class="list-group-item d-flex justify-content-between">
									<span class="h6 fw-light mb-0">Daily Price</span>
									<span class="h6 fw-light mb-0" id="daily-price">€ <%= car.price %></span>
								</li>
								<li class="list-group-item d-flex justify-content-between">
									<span class="h6 fw-light mb-0">Total Price</span>
									<span class="h6 fw-light mb-0" id="price">€ <%= car.price %></span>
								</li>
								<li class="list-group-item d-flex justify-content-between">
									<span class="h6 fw-light mb-0">Convenience Fee</span>
									<span class="h6 fw-light mb-0" id="fee-price">€ 0</span>
								</li>
								<li class="list-group-item d-flex justify-content-between">
									<span class="h6 fw-light mb-0">Insurance</span>
									<span class="h6 fw-light mb-0" id="insurance">€ 0</span>
								</li>
								<li class="list-group-item py-0"><hr class="my-0"></li> 
								<!-- Divider -->
								<li class="list-group-item d-flex justify-content-between pb-0">
									<span class="h5 fw-normal mb-0">Total</span>
									<span class="h5 fw-normal mb-0" id="total-price">€ <%= car.price %></span>
								</li>
							</ul>

						<!-- Date -->
						<div class="col-lg-12 mt-4">
							<div class="d-flex">
								<div class="form-control-border form-control-transparent form-fs-md">
								<form>
									<input type="text" class="form-control flatpickr flatpickr-input" required data-mode="range" placeholder="Select date" data-disable-dates="<%= @car.busy_days %>">
								<form>
								</div>
							</div>
							

							<div class="d-grid mt-4 gap-2">
								<div class="form-check form-check-inline mb-0">
									<input class="form-check-input" type="checkbox" name="insurance-checkbox" id="insurance-checkbox" value="option">
									<label class="form-check-label h6 fw-normal mb-0" for="insurance-checkbox">Add insurance</label>
								</div>

								<%= link_to 'Pay Now', new_car_rent_path(@car, start_date: params[:start_date], finish_date: params[:finish_date]), class: 'btn btn-dark mb-0 mt-2', id: 'rent-button' %>
							</div>
						</div>
					</div> 
				</aside>
			<% end %>
			<!-- Sidebar END -->
		</div>
	</div>
</section>


<style>
  .flatpickr-disabled{
    color: #f00 !important;
  }
  .standart-resim {
	max-width: 100%; /* İstediğiniz standart genişlik */
	height: 165px; /* İstediğiniz standart yükseklik */
	  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
</style>

<script>

var pickerX;
	$(document).ready(function () {
		var picker = e.select('.flatpickr');
		if (e.isVariableDefined(picker)) {
			var element = e.selectAll('.flatpickr');
			var mode = picker.getAttribute('data-mode') == 'multiple' ? 'multiple' : picker.getAttribute('data-mode') == 'range' ? 'range' : 'single';
			var enableTime = picker.getAttribute('data-enableTime') == 'true' ? true : false;
			var noCalendar = picker.getAttribute('data-noCalendar') == 'true' ? true : false;
			var inline = picker.getAttribute('data-inline') == 'true' ? true : false;
			var dateFormat = picker.getAttribute('data-date-format') ? picker.getAttribute('data-date-format') : picker.getAttribute('data-enableTime') == 'true' ? "h:i K" : "d M";
			var disableDates = picker.getAttribute('data-disable-dates') ? JSON.parse(picker.getAttribute('data-disable-dates')) : []

			pickerX = flatpickr(picker, {
				mode: mode,
				enableTime: true,
				noCalendar: noCalendar,
				inline: inline,
				animate: "false",
				position: "top",
				dateFormat: 'd/m/Y',
				disable: disableDates,
			});

		}
		pickerX.config.onChange.push(recalculate_prices);

		const checkbox = document.getElementById('insurance-checkbox')

		checkbox.addEventListener('change', (event) => {
			recalculate_prices()
		})
	});

	function recalculate_prices() { 
		var day_count = 1
		
		if(pickerX.selectedDates.length < 2){
			day_count = 1
		}
		else{
			var dif = pickerX.selectedDates[1].getTime() - pickerX.selectedDates[0].getTime()
			day_count = Math.ceil(dif / (1000 * 3600 * 24));
			if(day_count < 1)
				day_count = 1
		}
		
		console.log(day_count.toString() + ' Day')

		var daily_price = <%= @car.price %>;
		var price = daily_price * day_count; 
		var fee_price = Math.ceil(price * 0.10);
		
		var insurance = 0
		if(document.getElementById('insurance-checkbox').checked){
			insurance = fee_price
		}
		
		var total_price = price + fee_price + insurance;

		
		console.log(daily_price.toString() + ' daily_price')
		console.log(price.toString() + ' price')
		console.log(fee_price.toString() + ' fee_price')
		console.log(total_price.toString() + ' total_price')
		console.log(insurance.toString() + ' insurance')


		document.getElementById('price').innerHTML = '€ ' + (price.toFixed(1)).toString()
		document.getElementById('fee-price').innerHTML = '€ ' + (fee_price.toFixed(1)).toString()
		document.getElementById('total-price').innerHTML = '€ ' + (total_price.toFixed(1)).toString()
		document.getElementById('insurance').innerHTML = '€ ' + (insurance.toFixed(1)).toString()


		console.log(daily_price.toString() + ' Daily Price')
		try{
			var url = `/cars/<%= @car.id %>/rents/new?start_date=${pickerX.selectedDates[0].toString()}&finish_date=${pickerX.selectedDates[1].toString()}&insurance=${document.getElementById('insurance-checkbox').checked}` 
			document.getElementById('rent-button').setAttribute('href', url)
		}catch{
			var url = `/cars/<%= @car.id %>/rents/new?insurance=${document.getElementById('insurance-checkbox').checked}` 
			document.getElementById('rent-button').setAttribute('href', url)
		}
	}	
</script>
