<section class="pt-0">
	<div class="container">
		<!-- Background image -->
		
		<div class="rounded-3 p-3 p-sm-5 "style="width: 100%;" >
						<div id="map" style="width: 100%; height: 50vh; border-radius:10px;"></div>
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->
	
<!-- =======================
Title and Tabs START -->
<section class="pt-0 pb-4">
	<div class="container position-relative">

		<!-- Title and button START -->
		<div class="row">
			<div class="col-12">
				<!-- Meta START -->
				<div class="d-flex justify-content-between">
          <!-- Filter collapse button -->
          <input type="checkbox" class="btn-check" id="btn-check-soft">
          <label class="btn btn-primary-soft btn-primary-check mb-0" for="btn-check-soft" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-controls="collapseFilter">
            <i class="bi fa-fe bi-sliders me-2"></i>Show Filters
          </label>

          <!-- tabs -->

				</div>
				<!-- Meta END -->
			</div>
		</div>
		<!-- Title and button END -->
				<!-- Collapse body START -->
				<div class="collapse" id="collapseFilter">
					<div class="card card-body bg-light p-4 mt-4 z-index-9">

						<%= search_form_for @q, class: "row g-4" do |f| %>
							<!-- Form START -->
								<!-- Input item -->
								<div class="col-md-6 col-lg-4">
									<div class="form-control-borderless">
										<label class="form-label">Enter Car Name</label>
										<%= f.text_field :brand_name_or_model_name_cont,  class:"form-control form-control-lg" %>
									</div>
								</div>

								<!-- nouislider item -->
								<div class="col-md-6 col-lg-4">
									<div class="form-control-borderless">
										<label class="form-label">Price Range</label>
										<div class="position-relative">
											<div class="noui-wrapper">
												<div class="d-flex justify-content-between">
												
													<%= f.hidden_field :price_gteq %>
													<%= f.hidden_field :price_lteq %>

													<div id="kt_slider_basic_min" class="text-body input-with-range-min"></div>
													<div id="kt_slider_basic_max" class="text-body input-with-range-max"></div>
												</div>
												<div id="kt_slider_basic" class="noui-slider-range mt-2"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- Button -->
								<div class="text-end align-items-center">
									<button class="btn btn-link p-0 mb-0">Clear all</button>
									<%= f.submit class:"btn btn-dark mb-0 ms-3" %>
								</div>
						<% end %>	
						<!-- Form END -->
					</div>
				</div>
				<!-- Collapse body END -->
		
	</div>
</section>
<!-- =======================
Title and Tabs END -->

<!-- =======================
Hotel grid START -->
<section class="pt-0">
	<div class="container">
		<div class="row g-4">
		<!-- Card item START -->
		<% @cars.approved.each do |car|%>
		<div class="col-md-6 col-xl-4">
			<div class="card shadow p-2 pb-0 h-100">
				<!-- Overlay item -->
				<div class="position-absolute top-0 start-0 z-index-1 m-4">
				<!-- <div class="badge bg-danger text-white">30% Off</div> -->
				</div>

				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-xs arrow-dark rounded-2 overflow-hidden">
					<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-dots="false" data-items="1">
						<!-- Image item -->
						<% car.images.each do |image|%>
						
					    <%= image_tag image, class: "Card image", alt:"Card image"  %>

						<%end%>
					</div>
				</div>
				<!-- Slider END -->

				<!-- Card body START -->
				<div class="card-body px-3 pb-0">
					<!-- Rating and cart -->
					<div class="d-flex justify-content-between mb-3">
						<a href="hotel-grid.html#" class="badge bg-dark text-white"><i class="bi fa-fw bi-star-fill me-2 text-warning"></i>4.5</a>
						<!-- <a href="hotel-grid.html#" class="h6 mb-0 z-index-2"><i class="bi fa-fw bi-bookmark"></i></a> -->
					</div>

					<!-- Title -->
					<%= link_to car_path(car.id), class: "card-title" do %>
						<h5><%= "#{car.brand.name} #{car.model.name} #{car.model_year}" %></h5>
					<% end %>

					<!-- List -->
					<ul class="nav nav-divider mb-2 mb-sm-3">
						<li class="nav-item"><%=car.seat_count%> Seats </li>
						<li class="nav-item"><%=car.distance %> Km</li>
					</ul>
				</div>
				<!-- Card body END -->

				<!-- Card footer START-->
				<div class="card-footer pt-0">
					<!-- Price and Button -->
					<div class="d-sm-flex justify-content-sm-between align-items-center">
						<!-- Price -->
						<div class="d-flex align-items-center">
							<h5 class="fw-normal text-success mb-0 me-1"> $ <%= car.price %></h5>
							<span class="mb-0 me-2">/day</span>
							<!-- <span class="text-decoration-line-through">$1000</span> -->
						</div>
						<!-- Button -->
						<div class="mt-2 mt-sm-0">
					 
							<%= link_to car_path(car.id), class: "btn btn-sm btn-primary-soft mb-0 w-100" do %>
								View Detail <i class="bi bi-arrow-right ms-2"></i>
							<% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card item END -->
		<% end%>


		</div> <!-- Row END -->

		<!-- Pagination -->
		<div class="row">
			<div class="col-12">
				<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
				
					<%= will_paginate @cars, renderer: BootstrapPagination::Rails, inner_window:1%>

				</nav>
			</div>
		</div>
	</div>
</section>
<head>
<link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css">
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script> 



<style>
  .marker {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
</style>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidmltcGlsIiwiYSI6ImNrMjhvNXU0MTIyZGszbG16dWw1enVlamwifQ.5DWWvMDwGn1VfUD9uJjBEg';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%= @cars.approved.first.longitude %>, <%= @cars.approved.first.latitude %>],
    zoom: 10
  });

  <% @cars.approved.each do |car| %>
    var markerElement = document.createElement('div');
    markerElement.className = 'marker';
    markerElement.style.backgroundImage = 'url(<%= url_for(car.images.first) %>)';
    markerElement.style.backgroundSize = 'contain';
    markerElement.style.backgroundRepeat = 'no-repeat';
    markerElement.style.backgroundPosition = 'center';
    markerElement.style.width = '50px';
    markerElement.style.height = '50px';

    markerElement.addEventListener('click', function() {
      window.location.href = '<%= car_path(car) %>';
    });

    var marker<%= car.id %> = new mapboxgl.Marker(markerElement)
      .setLngLat([<%= car.longitude.to_f %>, <%= car.latitude.to_f %>])
      .addTo(map);
  <% end %>
</script>










<script>
var slider = document.querySelector("#kt_slider_basic");
var valueMin = document.querySelector("#kt_slider_basic_min");
var valueMax = document.querySelector("#kt_slider_basic_max");

var q_price_gteq = document.querySelector("#q_price_gteq");
var q_price_lteq = document.querySelector("#q_price_lteq");


$(document).ready(function(){
	noUiSlider.create(slider, {
		start: [0, 500],
		connect: true,
		range: {
			"min": 0,
			"max": 500
		}
	});	
	slider.noUiSlider.on("update", function (values, handle) {
	if (handle) {
		valueMax.innerHTML = values[handle];
		q_price_lteq.value = values[handle];
	} else {
		valueMin.innerHTML = values[handle];
		q_price_gteq.value = values[handle];
	}
});
});

slider.noUiSlider.on("update", function (values, handle) {
	if (handle) {
		valueMax.innerHTML = values[handle];
		q_price_lteq.value = values[handle];
	} else {
		valueMin.innerHTML = values[handle];
		q_price_gteq.value = values[handle];
	}
});</script>


<style>
#map_home_page {
	width: 100%;
	height: 400px;
  }

	.pagination {
		color: red;

	}
	.pagination li{
		background-color: #f8f9fa;
		color: gray !important;
		margin-left: 2px !important;
		margin-left: calc(var(--bs-border-width) * -1);
		border-radius: var(--bs-pagination-border-radius);
		border: 0px;
		padding: 4px;
		border-radius: 0.5rem;
		transition: background-color .3s;
		ont-weight: bold;
		--bs-pagination-border-width: 0px;
		position: relative;
		display: block;
		padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
		font-size: 20px;
		border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
		
	}
	.pagination li.active {
		background-color: #5143d9;
		color: white;	
	}
</style>