<section class="pt-0">
	<div class="container">
		<!-- Background image -->
		
		<div class="rounded-3 p-3 p-sm-5" style="position: relative;">
  					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d805170.0496601658!2d145.05313529999998!3d-37.9725665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%20Victoria!5e0!3m2!1str!2sau!4v1688313400605!5m2!1str!2sau" width="100%" height="100%" style="position: absolute; top: 0; left: 0; border: 0;  border-radius: 10px 10px 10px 10px;" allowfullscreen="" loading="lazy"></iframe>
			

			<!-- Banner title -->
			<div class="row my-2 my-xl-5"> 
				<div class="col-md-8 mx-auto"> 
					<h1 class="text-center text-white">150 Hotels in New York</h1>
				</div>
			</div>

			<!-- Booking from START -->
			<form class="bg-mode shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4 mb-4">
				<div class="row g-4 align-items-center">
					<!-- Location -->
					<div class="col-lg-4">
						<div class="form-control-border form-control-transparent form-fs-md d-flex">
							<!-- Icon -->
							<i class="bi bi-geo-alt fs-3 me-2 mt-2"></i>
							<!-- Select input -->
							<div class="flex-grow-1">
								<label class="form-label">Location</label>
								<select class="form-select js-choice" data-search-enabled="true">
									<option value="">Select location</option>
									<option selected>San Jacinto, USA</option>
									<option>North Dakota, Canada</option>
									<option>West Virginia, Paris</option>
								</select>
							</div>
						</div>
					</div>

					<!-- Check in -->
					<div class="col-lg-4">
						<div class="d-flex">
							<!-- Icon -->
							<i class="bi bi-calendar fs-3 me-2 mt-2"></i>
							<!-- Date input -->
							<div class="form-control-border form-control-transparent form-fs-md">
								<label class="form-label">Check in - out</label>
								<input type="text" class="form-control flatpickr" data-mode="range" placeholder="Select date" value="19 Sep to 28 Sep">
							</div>
						</div>
					</div>

					<!-- Guest -->
					<div class="col-lg-4">
						<div class="form-control-border form-control-transparent form-fs-md d-flex">
							<!-- Icon -->
							<i class="bi bi-person fs-3 me-2 mt-2"></i>
							<!-- Dropdown input -->
							<div class="w-100">
								<label class="form-label">Guests & rooms</label>
								<div class="dropdown guest-selector me-2">
									<input type="text" class="form-guest-selector form-control selection-result" value="2 Guests 1 Room" id="dropdownShare" data-bs-auto-close="outside" data-bs-toggle="dropdown">
								
									<!-- dropdown items -->
									<ul class="dropdown-menu guest-selector-dropdown" aria-labelledby="dropdownShare">
										<!-- Adult -->
										<li class="d-flex justify-content-between">
											<div>
												<h6 class="mb-0">Adults</h6>
												<small>Ages 13 or above</small>
											</div>

											<div class="hstack gap-1 align-items-center">
												<button type="button" class="btn btn-link adult-remove p-0 mb-0"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
												<h6 class="guest-selector-count mb-0 adults">2</h6>
												<button type="button" class="btn btn-link adult-add p-0 mb-0"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
											</div>
										</li>

										<!-- Divider -->
										<li class="dropdown-divider"></li>

										<!-- Child -->
										<li class="d-flex justify-content-between">
											<div>
												<h6 class="mb-0">Child</h6>
												<small>Ages 13 below</small>
											</div>

											<div class="hstack gap-1 align-items-center">
												<button type="button" class="btn btn-link child-remove p-0 mb-0" ><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
												<h6 class="guest-selector-count mb-0 child">0</h6>
												<button type="button" class="btn btn-link child-add p-0 mb-0" ><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
											</div>
										</li>

										<!-- Divider -->
										<li class="dropdown-divider"></li>

										<!-- Rooms -->
										<li class="d-flex justify-content-between">
											<div>
												<h6 class="mb-0">Rooms</h6>
												<small>Max room 8</small>
											</div>

											<div class="hstack gap-1 align-items-center">
												<button type="button" class="btn btn-link room-remove p-0 mb-0" ><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
												<h6 class="guest-selector-count mb-0 rooms">1</h6>
												<button type="button" class="btn btn-link room-add p-0 mb-0" ><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Button -->
				<div class="btn-position-md-middle">
					<a  class="icon-lg btn btn-round btn-primary mb-0" href="hotel-grid.html#"><i class="bi bi-search fa-fw"></i></a>
				</div>
			</form>
			<!-- Booking from END -->
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->
	
<!-- =======================
Title and Tabs START -->
<section class="pt-0 pb-4">
	<div class="container position-relative">

		<!-- Title and button START -->
		<div class="row">
			<div class="col-12">
				<!-- Meta START -->
				<div class="d-flex justify-content-between">
          <!-- Filter collapse button -->
          <input type="checkbox" class="btn-check" id="btn-check-soft">
          <label class="btn btn-primary-soft btn-primary-check mb-0" for="btn-check-soft" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-controls="collapseFilter">
            <i class="bi fa-fe bi-sliders me-2"></i>Show Filters
          </label>

          <!-- tabs -->

				</div>
				<!-- Meta END -->
			</div>
		</div>
		<!-- Title and button END -->
				<!-- Collapse body START -->
				<div class="collapse" id="collapseFilter">
					<div class="card card-body bg-light p-4 mt-4 z-index-9">

						<%= search_form_for @q, class: "row g-4" do |f| %>
							<!-- Form START -->
								<!-- Input item -->
								<div class="col-md-6 col-lg-4">
									<div class="form-control-borderless">
										<label class="form-label">Enter Car Name</label>
										<%= f.text_field :brand_name_or_model_name_cont,  class:"form-control form-control-lg" %>
									</div>
								</div>

								<!-- nouislider item -->
								<div class="col-md-6 col-lg-4">
									<div class="form-control-borderless">
										<label class="form-label">Price Range</label>
										<div class="position-relative">
											<div class="noui-wrapper">
												<div class="d-flex justify-content-between">
												
													<%= f.hidden_field :price_gteq %>
													<%= f.hidden_field :price_lteq %>

													<div id="kt_slider_basic_min" class="text-body input-with-range-min"></div>
													<div id="kt_slider_basic_max" class="text-body input-with-range-max"></div>
												</div>
												<div id="kt_slider_basic" class="noui-slider-range mt-2"></div>
											</div>
										</div>
									</div>
								</div>
								<!-- Button -->
								<div class="text-end align-items-center">
									<button class="btn btn-link p-0 mb-0">Clear all</button>
									<%= f.submit class:"btn btn-dark mb-0 ms-3" %>
								</div>
						<% end %>	
						<!-- Form END -->
					</div>
				</div>
				<!-- Collapse body END -->
		
	</div>
</section>
<!-- =======================
Title and Tabs END -->

<!-- =======================
Hotel grid START -->
<section class="pt-0">
	<div class="container">
		<div class="row g-4">
		<!-- Card item START -->
		<% @cars.approved.each do |car|%>
		<div class="col-md-6 col-xl-4">
			<div class="card shadow p-2 pb-0 h-100">
				<!-- Overlay item -->
				<div class="position-absolute top-0 start-0 z-index-1 m-4">
				<!-- <div class="badge bg-danger text-white">30% Off</div> -->
				</div>

				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-xs arrow-dark rounded-2 overflow-hidden">
					<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-dots="false" data-items="1">
						<!-- Image item -->
						<% car.images.each do |image|%>
						
					    <%= image_tag image, class: "Card image", alt:"Card image"  %>

						<%end%>
					</div>
				</div>
				<!-- Slider END -->

				<!-- Card body START -->
				<div class="card-body px-3 pb-0">
					<!-- Rating and cart -->
					<div class="d-flex justify-content-between mb-3">
						<a href="hotel-grid.html#" class="badge bg-dark text-white"><i class="bi fa-fw bi-star-fill me-2 text-warning"></i>4.5</a>
						<!-- <a href="hotel-grid.html#" class="h6 mb-0 z-index-2"><i class="bi fa-fw bi-bookmark"></i></a> -->
					</div>

					<!-- Title -->
					<%= link_to car_path(car.id), class: "card-title" do %>
						<h5><%= "#{car.brand.name} #{car.model.name} #{car.model_year}" %></h5>
					<% end %>

					<!-- List -->
					<ul class="nav nav-divider mb-2 mb-sm-3">
						<li class="nav-item"><%=car.seat_count%> Seats </li>
						<li class="nav-item"><%=car.distance %> Km</li>
					</ul>
				</div>
				<!-- Card body END -->

				<!-- Card footer START-->
				<div class="card-footer pt-0">
					<!-- Price and Button -->
					<div class="d-sm-flex justify-content-sm-between align-items-center">
						<!-- Price -->
						<div class="d-flex align-items-center">
							<h5 class="fw-normal text-success mb-0 me-1"> $ <%= car.price %></h5>
							<span class="mb-0 me-2">/day</span>
							<!-- <span class="text-decoration-line-through">$1000</span> -->
						</div>
						<!-- Button -->
						<div class="mt-2 mt-sm-0">
					 
							<%= link_to car_path(car.id), class: "btn btn-sm btn-primary-soft mb-0 w-100" do %>
								View Detail <i class="bi bi-arrow-right ms-2"></i>
							<% end %>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Card item END -->
		<% end%>


		</div> <!-- Row END -->

		<!-- Pagination -->
		<div class="row">
			<div class="col-12">
				<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
				
					<%= will_paginate @cars, renderer: BootstrapPagination::Rails, inner_window:1%>

				</nav>
			</div>
		</div>
	</div>
</section>





<script>
var slider = document.querySelector("#kt_slider_basic");
var valueMin = document.querySelector("#kt_slider_basic_min");
var valueMax = document.querySelector("#kt_slider_basic_max");

var q_price_gteq = document.querySelector("#q_price_gteq");
var q_price_lteq = document.querySelector("#q_price_lteq");


$(document).ready(function(){
	noUiSlider.create(slider, {
		start: [0, 500],
		connect: true,
		range: {
			"min": 0,
			"max": 500
		}
	});	
	slider.noUiSlider.on("update", function (values, handle) {
	if (handle) {
		valueMax.innerHTML = values[handle];
		q_price_lteq.value = values[handle];
	} else {
		valueMin.innerHTML = values[handle];
		q_price_gteq.value = values[handle];
	}
});
});

slider.noUiSlider.on("update", function (values, handle) {
	if (handle) {
		valueMax.innerHTML = values[handle];
		q_price_lteq.value = values[handle];
	} else {
		valueMin.innerHTML = values[handle];
		q_price_gteq.value = values[handle];
	}
});</script>

<p style="color: green"><%= notice %></p>

<style>

	.pagination {
		color: red;

	}
	.pagination li{
		background-color: #f8f9fa;
		color: gray !important;
		margin-left: 2px !important;
		margin-left: calc(var(--bs-border-width) * -1);
		border-radius: var(--bs-pagination-border-radius);
		border: 0px;
		padding: 4px;
		border-radius: 0.5rem;
		transition: background-color .3s;
		ont-weight: bold;
		--bs-pagination-border-width: 0px;
		position: relative;
		display: block;
		padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
		font-size: 20px;
		border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
		
	}
	.pagination li.active {
		background-color: #5143d9;
		color: white;	
	}
</style>